.layout {
    padding-top: 90px;
    background: #ECECEC;

}

.profile {
    display: flex;
    height: 150px;
    align-items: center;
    gap: 14px;
    flex-shrink: 0;
    padding-left: 30px;
  }
  
  .profilepic {
    width: 80px;
    height: 80px;
    fill: #FCFCFC;
  }
  
  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .nickname {
    color: var(--sub-title, #313131);
    font-family: 'SUIT-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.5px;
    letter-spacing: -0.98px;
    margin-bottom: 15px;
  }
  
  .email {
    color: var(--email, #9F9F9F);
    font-family: 'SUIT-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.5px;
    letter-spacing: -1.12px;
  }  

.wish {
    align-items: center;
    width: 100%;
    height: initial;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 17px 8px 18px 7px rgba(0, 0, 0, 0.04);
    flex-direction: row;
    padding-top: 40px;
}

.wishTitleContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.wishTitle {
    color: var(--sub-title, #313131);
    text-align: center;
    font-family: 'LeferiPoint-BlackA';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -1.26px;
    margin-left: 10px;
    margin-top: 13px;
}

.heartImage {
    width: 35px;
    height: 35px;
    margin-left: 24px;
}

.notWishContainer {
    //display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 300px;
}

.notWishImage {
    width: 70px;
    height: 100px;
    flex-shrink: 0;
    padding-bottom: 30px;
}

.notWishText {
    color: var(--email, #9F9F9F);
    text-align: center;
    font-family: 'SUIT-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 115.625% */
    letter-spacing: -1.12px;
}

.notWishText2 {
    color: var(--main-txt, #737373);
    font-weight: 600;
}

.button {
    display: inline-flex;
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    background: #FF6F3C;
    margin-top: 30px;
    border : none;
    color: #FFF;
    text-align: center;
    font-family: 'SUIT-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.5px; /* 115.625% */
    letter-spacing: -1.12px;
}

.wishList {
        //display: flexbox;
        padding-bottom: 20px;
        width: 200px;
        height: 300px;
        margin: 20px;
        //flex-shrink: 0;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.06);
        margin-bottom: 30px;
}

.title {
    color: var(--title, #101010);
    font-family: 'LeferiPoint-BlackA';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 122.222% */
    letter-spacing: -1.26px;
    margin: 24px;
    padding-top: 20px;
    text-align: left;
}

.cafeContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 두 개의 열을 만듭니다. */
}

.cafeList {
    padding-bottom: 30px;
    width: 85%;
    height:80%;
    margin: 20px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.06);
}

.productImage {
    text-align: center;
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.productTitle {
    color: var(--title, #101010);
    text-align: center;
    font-family: 'LeferiPoint-BlackA';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -1.12px;
    text-align: left;
    margin: 10px;
}

.productText {
    color: var(--main-txt, #737373);
    font-family: 'SUIT-Regular';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.84px;
    text-align: left;
    margin-left: 10px;
    margin-right: 15px;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .modal {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 99999;
    width: 350px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
  }

.closeButton {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    top : 5px;
    left : 20px
}

.shareButton {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 15px;
    right: 60px;
    cursor: pointer;
}

.heart {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 15px;
    right: 25px;
    cursor: pointer;
}

.modalImage {
    text-align: center;
    width: 100%;
    height: 45%;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 50px;
}

.modalTitle {
    color: var(--title, #101010);
    text-align: left;
    font-family: 'LeferiPoint-BlackA';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.5px;
    letter-spacing: -1.26px;
    padding: 20px;
    padding-bottom: 8px;
}

.location {
    color: var(--main-txt, #737373);
    text-align: left;
    font-family: 'SUIT-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 154.167% */
    letter-spacing: -0.84px;
    margin-left: 50px;
    padding-bottom: 5px;
}

.subIcon {
    display: left;
    position: absolute;
    left : 20px;
}

.mapLayout {
    width: 94%;
    height: 170px;
    margin: 10px;
    padding: auto;
    border-radius: 24px;
    position: center;
    border-color:rgb(255, 255, 255);
}

.instaLink {
    color: var(--main-txt, #737373);
    font-family: 'SUIT-Regular';
    font-size: 14px;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    letter-spacing: -0.84px;
    padding-bottom: 5px;
    margin-left: 50px;
  
    /* 링크 스타일 수정 */
    a {
      text-decoration: none;
      color: inherit;
      display: block; /* 인스타그램 링크를 블록 요소로 설정하여 옆으로 배치되지 않도록 함 */
    }
  }